@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

html, body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    --main-bg-color: #27ae60 /*#a7ff83*/;
    --secondary-bg-color: #ecf0f1 /*#17b978*/;
    --header-bg-color: #b8e994;
    --options-bg-color: #bdc3c7;
    --options-title-bg-color: #60a3bc;
    --options-content-bg-color: #fad390;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

app {
/*    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    height: auto;*/
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header {
    padding: 20px 20px;
    background-color: var(--header-bg-color);
    border-radius: 1rem;
    font-size: 1.1rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.match-tab {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.4rem auto;
    /*padding: 1rem 5px;*/
    border: 0.3px solid black;
    border-radius: 3px;
    box-shadow: rgba(105,89,88,0.4) 0 0 8px 4px;
    background-color: var(--secondary-bg-color);
    font-size: large;
    font-weight: 500;
    max-width: 900px;
}

.teams-container {
    flex-grow: 1;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .button-container div {
        border: 3px solid #4D7C8A;
        background-color: rgba(217, 211, 176, 0.65);
        border-radius: 10px;
        width: 3rem;
        height: 3rem;
        display: flex;
    }

        .button-container div:hover {
            border-color: #1B4079;
            background-color: #EDEEC0;
            color: #8F3985;
            transform: scale(1.1);
            font-size: 1.2rem;
            -moz-box-shadow: 0px 0px 14px 5px #EDEEC0;
            -webkit-box-shadow: 0px 0px 14px 5px #EDEEC0;
            box-shadow: 0px 0px 14px 5px #EDEEC0;
        }

        /*.button-container div:active {
            background-color: #80cf4a;
            -moz-box-shadow: 0px 0px 14px 5px #80cf4a;
            -webkit-box-shadow: 0px 0px 14px 5px #80cf4a;
            box-shadow: 0px 0px 14px 5px #80cf4a;
            font-size: 1.4rem;
            transform: scale(1.3);
            color: antiquewhite;
        }*/

.details-shown {
    transform: rotate(180deg);
    -moz-box-shadow: 0px 0px 14px 5px #EDEEC0;
    -webkit-box-shadow: 0px 0px 14px 5px #EDEEC0;
    box-shadow: 0px 0px 14px 5px #EDEEC0;
}

.details-button {
    margin: auto;
    text-align: center;
}

.match-date {
    font-weight: 600;
}

.match-hour {
    font-size: 3rem;
    font-family: "Squada One";
    font-weight: 200;
    min-width: 6.2rem;
}

.landing-logo-box {
    max-height: 15rem;
    min-height: 5rem;
    border: 15px solid white;
    border-top: none;
    width: 40rem;
    max-width: 95%;
    background-color: var(--main-bg-color);
}

    .landing-logo-box div {
        height: 45%;
        width: 100%;
    }

        .landing-logo-box div svg {
            width: 100%;
            height: auto;
            font-family: 'Bitter', serif;
        }

.landing-logo-circle {
    width: 50%;
    max-width: 10rem;
    width: 35%;
    height: 5rem;
    max-height: calc(50%/2);
    border: 15px solid white;
    border-radius: 0px 0px 13rem 13rem;
    border-top: 0;
}

.team-container {
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
}


.team-name, .versus-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
}

.versus-text {
    width: 10%;
    max-width: 4.5rem;
    font-size: 1.9rem;
}

.team-name {
    width: 10rem;
    word-break: break-word;
    max-width: 100%;
    font-weight: 800;
}

.team-logo-container {
    width: 4rem;
    height: 5rem;
}

    .team-logo-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: auto;
    }

.details-container {
    width: 100%;
    align-items: center;
}

input[type='checkbox'] {
    transform: scale(1.1);
}

.postponed {
    background-color: #e2e248;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 0.9rem;
    flex-shrink: 1;
    min-width: 10%;
    width: 4.5rem;
    white-space: nowrap;
}

.options {
    background-color: var(--options-bg-color);
    border-radius: 13px;
}

.options-selection {
    background-color: var(--options-content-bg-color);
    border-radius: 13px;
    font-size: 1.2rem;
    overflow: hidden;
    box-shadow: 9px 8px 0px 3px rgba(78,52,46,0.77);
}

.options-selection-header {
    font-size: 1.5em;
    font-family: Roboto;
    background-color: var(--options-title-bg-color);
    font-weight: 700;
    padding-left: 15px;
    padding-bottom: 5px;
    padding: 5px 15px;
}

.options-selection-content {
    padding: 10px 15px;
    margin: auto 0;
}

.options-selection-content *{
    font-size: 1.45rem;
}

.validation-message {
    color: red;
    font-weight: 700;
}

.live-indicator {
    padding: 1px 1px;
    background-color: rgb(221, 64, 64);
    border-radius: 10px;
    font-weight: 700;
}

.start-search-button {
    border: 4.2px solid var(--options-title-bg-color);
    border-radius: 28px;
    color: black;
    height: auto;
    width: auto;
    margin: 16px auto;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0);
    font-size: 1.3rem;
    font-weight: bolder;
    /*animation: pulse 2s infinite;*/
}

    .start-search-button:hover {
        background-color: var(--options-title-bg-color);
        transform: scale(1.2);
    }

footer {
    width: 24rem;
    height: 12rem;
    max-height: calc(90vmin/2);
    border: 1rem solid white;
    border-radius: 13rem 13rem 0px 0px;
    max-width: 90%;
    border-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

    footer span {
        position: relative;
        bottom: 0;
        font-weight: 600;
        font-size: 1.4rem;
    }

.information {
    height: auto;
}

.loading-screen{
    margin: auto auto;
    width: fit-content;
    margin-top: 25%;
}

.roll-in-left {
    -webkit-animation: roll-in-left 1.5s infinite both;
    animation: roll-in-left 1.5s infinite both;
}

.fade-in {
    animation: fade-in 1s;
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
} 

@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(10) rotate(0deg);
        transform: translateX(100px) rotate(0deg);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse{
    0%{
        box-shadow: 0px 0px 0px 0px var(--options-title-bg-color);
    }
    50% {
        box-shadow: 0px 0px 5px 10px var(--options-title-bg-color);
    }
    100% {
        box-shadow: 0px 0px 0px 0px var(--options-title-bg-color);
    }
}

@media (max-width: 1139px){
    .match-tab{
        min-width: 80%;
    }
}

@media (max-width: 767.98px) {
    .team-logo-container {
        width: 3rem;
        height: 4rem;
    }

    .team-name {
        width: auto;
    }

    .match-tab {
        width: 95%;
    }

    .team-container {
        width: 45%;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }
}
