@*<span class="match-date">@MatchDate.Day.ToString("00")/@MatchDate.Month.ToString("00")/@MatchDate.Year</span>*@
<span class="match-date">@MatchDate.Date.ToShortDateString()</span>
<span class="match-hour ml-1 ml-md-0">@MatchDate.Hour:@MatchDate.Minute.ToString("00")</span>

@code {
    [Parameter]
    public DateTime MatchDate { get; set; }
}
