@inject HttpClient _http;
@inject LogoDtoContainer _logos

<div class="team-container d-flex flex-column @_cssClass p-0 align">
    <div class="team-logo-container mx-auto mx-md-0">
        <img src="@_imageSource" alt="@Venue Team Logo" class="team-logo-image img-fluid" />
    </div>
    <span class="team-name d-flex px-2">
        @TeamName
    </span>
</div>

@code {
    [Parameter]
    public string TeamName { get; set; }
    [Parameter]
    public string Venue { get; set; }
    private string _imageSource = "css/blank-logo.svg";
    private string _cssClass;

    protected override async Task OnInitializedAsync()
    {
        //TODO: Refactor
        if (Venue.ToLower() == "home")
        {
            _cssClass = "flex-md-row";
        }
        else
        {
            _cssClass = "flex-md-row-reverse";
        }

        var source = _logos.Logos.Where(l => l.ClubName == TeamName).Select(l => l.ImageSource).FirstOrDefault();

        if (source == null)
        {
            bool logoLoaded = false;
            while (!logoLoaded)
            {
                try
                {
                    source = await GetLogoSourceFromServer();
                    logoLoaded = true;
                }
                catch (Exception)
                {
                    await Task.Delay(150);
                }
            }
        }
        _imageSource = source == null ? _imageSource : source;
    }

    private async Task<string> GetLogoSourceFromServer()
    {
        var logo = await _http.GetJsonAsync<LogoDto>($"Logo/{TeamName}");
        //Add logo source to state service
        _logos.Logos.Add(logo);
        return logo.ImageSource;
    }
}

