@if (Status == Status.IN_PLAY || Status == Status.PAUSED)
{
    <div class="live-score-container d-flex flex-column">
        <div class="live-indicator">
            LIVE
        </div>
        <ScoreComponent ScoreResult="ScoreResult"></ScoreComponent>

    </div>
}
else if (Status == Status.FINISHED)
{
    <ScoreComponent ScoreResult="ScoreResult"></ScoreComponent>
}
else
{
    <div class="versus-text">
        :
    </div>
}

@code {
    [Parameter]
    public ScoreResult ScoreResult { get; set; }
    [Parameter]
    public Status Status { get; set; }
}
