.landing-logo {
    width: 1150px;
    max-width: 80%;
}

.landing-logo-box {
    max-height: 15rem;
    min-height: 5rem;
    border: 15px solid white;
    border-top: none;
    width: 35rem;
    max-width: 95%;
    background-color: rgba(0,0,0,0);
    margin: auto;
}

    .landing-logo-box div {
        height: 45%;
        width: 100%;
    }

        .landing-logo-box div svg {
            width: 100%;
            height: auto;
            font-family: 'Bebas Neue', cursive;
        }

.landing-logo-circle {
    width: 20vw;
    height: 10vw;
    max-height: 100px;
    max-width: 200px;
    min-height: 50px;
    min-width: 100px;
    border: 15px solid white;
    border-radius: 0px 0px 13rem 13rem;
    border-top: 0;
}
