
<div class="landing-logo-box d-flex flex-column justify-content-around justify-content-sm-between">
    <div class="landing-logo-upper my-auto">
        <svg viewBox="0 0 100 18">
            <text x="1" y="15">Next</text>
        </svg>
    </div>
    <div class="landing-logo-lower my-auto">
        <svg viewBox="0 0 100 18">
            <text x="36" y="15">Fixtures</text>
        </svg>
    </div>
</div>
<div class="landing-logo-circle mx-auto">

</div>

@code {

}
