<div class="top-header">
    <h1 class="mx-auto">Hello, football fan!</h1>
    <p>
        This app allows you to check upcoming matches from top five european leagues. You can select
        specific date or date span of maximum 10 days. Live scores update on resubmit of form. If you
        would like to add some new features feel free to send them to me via <a href="https://github.com/DominikNITA/YourMatches">Github</a>.
    </p>
    <p>
        All trademarks are the property of their respective owners and are used to facilitate
        identification of clubs
    </p>
</div>