<div class="d-flex flex-column mx-3 my-2 options-selection">
    <div class="options-selection-header">
        @Title
    </div>
    <div class="options-selection-content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Title { get; set; }
}
