@page "/"
@inject HttpClient Http
<LandingLogo></LandingLogo>
<h1>Hello, football man!</h1>
@if (matches == null)
{
    @:Loading Matches...
}
else
{

    foreach (var match in matches)
    {
        <ScheduledMatch Match="match"></ScheduledMatch>
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private ScheduledMatchDto[] matches;

    protected override async Task OnInitializedAsync()
    {
        matches = await Http.GetJsonAsync<ScheduledMatchDto[]>("match");
        //matches = matches.ToList().Sort((m1,m2) => m1.Date.CompareTo(m2.Date));
    }

    protected async void GetMatches()
    {
        matches = null;
        matches = await Http.GetJsonAsync<ScheduledMatchDto[]>("match");
    }
}