@page "/"
@inject HttpClient Http

<h1>Hello, football man!</h1>
<button @onclick="GetMatches">Restart</button>
Welcome to this crappy site :)
<p>@response</p>
@if (matches == null)
{
    @:Loading Matches...
}
else
{

    foreach (var match in matches)
    {
        <ScheduledMatch Match="match"></ScheduledMatch>
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private ScheduledMatchDto[] matches;
    private string response;

    protected override async Task OnInitializedAsync()
    {
        matches = await Http.GetJsonAsync<ScheduledMatchDto[]>("match");
        //GetMatches();
    }

    protected async void GetMatches()
    {
        matches = null;
        matches = await Http.GetJsonAsync<ScheduledMatchDto[]>("match");
    }
}